<html>
<head>

</head>
<div class="pozicija">
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="left" routerLink="/" > URLs list</mat-button-toggle>
    <mat-button-toggle value="right" routerLink="/brokenurls">Broken URls</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<body class="margina">
<div class="bgimage">
<div class="bodi"></div>
  <div class="content">

    <div class="bozi">


<router-outlet></router-outlet>
  </div>
</div>
</div>
</body>
</html>
